.cover {
    margin: 0 auto;
    max-width: 1184px;
    background-image: url('../../images/cover-trains.jpg');
    background-size: cover;
    aspect-ratio: 1.6;
}

@media screen and (max-width: 1279px) {
    .cover {
        min-height: 640px;
        max-width: 1024px;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        min-height: 480px;
        max-width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        min-height: 300px;
        max-width: 420px;
    }
}

@media screen and (max-width: 467px) {
    .cover {
        min-height: 200px;
        max-width: 320px;
        padding-top: 66px;
    }
}